AWS_REGION=auto
AWS_BUCKET=assets-brookebrodack-net
AWS_ENDPOINT_URL=https://1e7e194ff8da4ad9e40ce041aea84f76.r2.cloudflarestorage.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ASSETS__BUCKET_URL=
ASSET_BASE_URL=
BROOKEBRODACK_PORT=4101
PRODUCT_BUCKET=
GOOGLE_API_KEY=
