[submodule "app/brookebrodack-site"]
	branch = main
	path = app/brookebrodack-site
	url = git@github.com:btakita/brookebrodack-site.git
[submodule "lib/domain--any--brookebrodack"]
	branch = main
	path = lib/domain--any--brookebrodack
	url = git@github.com:btakita/domain--any--brookebrodack.git
[submodule "lib/domain--browser--brookebrodack"]
	branch = main
	path = lib/domain--browser--brookebrodack
	url = git@github.com:btakita/domain--browser--brookebrodack.git
[submodule "lib/domain--server--brookebrodack"]
	path = lib/domain--server--brookebrodack
	url = git@github.com:btakita/domain--server--brookebrodack.git
[submodule "lib/ui--any--brookebrodack"]
	branch = main
	path = lib/ui--any--brookebrodack
	url = git@github.com:btakita/ui--any--brookebrodack.git
[submodule "lib/ui--browser--brookebrodack"]
	branch = main
	path = lib/ui--browser--brookebrodack
	url = git@github.com:btakita/ui--browser--brookebrodack.git
[submodule "lib/ui--server--brookebrodack"]
	branch = main
	path = lib/ui--server--brookebrodack
	url = git@github.com:btakita/ui--server--brookebrodack.git
